USE [master]
GO
/****** Object:  Database [PersonajeYPeliculas]    Script Date: 30/6/2023 11:13:53 ******/
CREATE DATABASE [PersonajeYPeliculas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PersonajeYPeliculas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PersonajeYPeliculas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PersonajeYPeliculas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PersonajeYPeliculas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PersonajeYPeliculas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PersonajeYPeliculas]
GO
/****** Object:  User [alumno]    Script Date: 30/6/2023 11:13:53 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Conexiones]    Script Date: 30/6/2023 11:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conexiones](
	[IDPelicula] [int] NOT NULL,
	[IDPersonaje] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Conexiones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Peliculas]    Script Date: 30/6/2023 11:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peliculas](
	[IDPelicula] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](max) NOT NULL,
	[Titulo] [varchar](max) NOT NULL,
	[FechaCreacion] [date] NOT NULL,
	[Calificacion] [float] NOT NULL,
 CONSTRAINT [PK_Peliculas] PRIMARY KEY CLUSTERED 
(
	[IDPelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personajes]    Script Date: 30/6/2023 11:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personajes](
	[IDPersonaje] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](max) NOT NULL,
	[Nombre] [varchar](max) NOT NULL,
	[Edad] [int] NOT NULL,
	[Peso] [float] NOT NULL,
	[Historia] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Personajes] PRIMARY KEY CLUSTERED 
(
	[IDPersonaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Conexiones] ON 

INSERT [dbo].[Conexiones] ([IDPelicula], [IDPersonaje], [Id]) VALUES (2, 1, 1)
INSERT [dbo].[Conexiones] ([IDPelicula], [IDPersonaje], [Id]) VALUES (2, 3, 2)
INSERT [dbo].[Conexiones] ([IDPelicula], [IDPersonaje], [Id]) VALUES (2, 5, 3)
SET IDENTITY_INSERT [dbo].[Conexiones] OFF
GO
SET IDENTITY_INSERT [dbo].[Peliculas] ON 

INSERT [dbo].[Peliculas] ([IDPelicula], [Imagen], [Titulo], [FechaCreacion], [Calificacion]) VALUES (2, N'https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/44113588A82F0120384F7EAC784C17778D9CA454B2436FF9492404902CF49013/scale?width=1200&aspectRatio=1.78&format=jpeg', N'Winnie Pooh: su gran aventura', CAST(N'1997-02-27' AS Date), 4)
INSERT [dbo].[Peliculas] ([IDPelicula], [Imagen], [Titulo], [FechaCreacion], [Calificacion]) VALUES (5, N'https://pics.filmaffinity.com/Star_Wars_Episodio_III_La_venganza_de_los_sith-974479162-large.jpg', N'Star wars: episodio III - la venganza de los sith', CAST(N'2005-05-19' AS Date), 5)
INSERT [dbo].[Peliculas] ([IDPelicula], [Imagen], [Titulo], [FechaCreacion], [Calificacion]) VALUES (6, N'https://i.blogs.es/150151/breaking-bad/1366_2000.jpeg', N'Breaking Bad', CAST(N'2008-02-07' AS Date), 5)
SET IDENTITY_INSERT [dbo].[Peliculas] OFF
GO
SET IDENTITY_INSERT [dbo].[Personajes] ON 

INSERT [dbo].[Personajes] ([IDPersonaje], [Imagen], [Nombre], [Edad], [Peso], [Historia]) VALUES (1, N'https://static.wikia.nocookie.net/disney/images/5/54/Pooh-bear-clip-art-winniepooh_1_800_800.jpg/revision/latest?cb=20180730235326&path-prefix=es', N'Winnie Pooh', 19, 95, N'Oso mágico que vive con sus amigos y le gusta la miel.')
INSERT [dbo].[Personajes] ([IDPersonaje], [Imagen], [Nombre], [Edad], [Peso], [Historia]) VALUES (3, N'https://lumiere-a.akamaihd.net/v1/images/9e259a68c3fceb6265860399bfc98fb56e098960.jpeg?region=0%2C0%2C600%2C600', N'Puerquito', 17, 10, N'Amigo de Winnie Pooh que lo acompaña en sus aventuras.')
INSERT [dbo].[Personajes] ([IDPersonaje], [Imagen], [Nombre], [Edad], [Peso], [Historia]) VALUES (5, N'https://static.wikia.nocookie.net/disney/images/4/48/Eeyore_.jpg/revision/latest?cb=20180804135858&path-prefix=es', N'Ígor', 18, 85, N'Burro malhumorado que igualmente acompaña a su amigo Winnie Pooh en sus aventuras.')
SET IDENTITY_INSERT [dbo].[Personajes] OFF
GO
ALTER TABLE [dbo].[Conexiones]  WITH CHECK ADD  CONSTRAINT [FK_Conexiones_Peliculas] FOREIGN KEY([IDPelicula])
REFERENCES [dbo].[Peliculas] ([IDPelicula])
GO
ALTER TABLE [dbo].[Conexiones] CHECK CONSTRAINT [FK_Conexiones_Peliculas]
GO
ALTER TABLE [dbo].[Conexiones]  WITH CHECK ADD  CONSTRAINT [FK_Conexiones_Personajes] FOREIGN KEY([IDPersonaje])
REFERENCES [dbo].[Personajes] ([IDPersonaje])
GO
ALTER TABLE [dbo].[Conexiones] CHECK CONSTRAINT [FK_Conexiones_Personajes]
GO
USE [master]
GO
